:root {
  --color-primary:#fbf7ed;
  --color-secondary:#008060;
  --color-tertiary:#6b7177;
  --color-green-dark:#004c3f;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #6b7177;
  margin: 0 10rem;
  overflow: hidden;
}

.header {
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 1rem 1rem -1rem rgba(59, 59, 59, 0.103);
}

main {
  width: 100%;
}

.section-hero {
  background-color: var(--color-primary);
  padding: 10rem 4rem 9.6rem 4rem;
}

.section-hero__hero {
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.section-hero__heading-primary {
  font-size: 4.5rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  font-weight: 700;
  color: var(--color-green-dark);
  letter-spacing: -0.5px;
}

.section-hero__description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.section-hero__description-2 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1.6rem;
}

.section-hero__form-box {
  display: flex;
}

.section-hero__input {
  background-color: #fff;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.7rem;
  border: 1px solid;
}

.section-hero__input:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #008060;
  border: none;
}

.section-hero__img-box {
  width: 80%;
}

.background-green {
  background-color: var(--color-green-dark);
  padding: 9.6rem;
}

.background-green-wrapper {
  display: flex;
  justify-content: space-between;
}

.background-green__heading-secondary {
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.background-green__subhead {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #fff;
}

.background-green__btn-inline {
  border: none;
  color: #fff;
  text-decoration: none;
  padding-right: 1.2rem;
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}

.background-green__heading-secondary-2 {
  color: #fff;
  margin-top: 10rem;
  font-size: 3rem;
  font-weight: 400;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 600;
}

.container-grid__merch {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.container-grid__merch:hover {
  text-decoration: underline;
}

.container-grid span {
  font-weight: 300;
  color: #fff;
  font-size: 1.8rem;
}

.container-grid span:hover {
  cursor: pointer;
}

.container-grid__text {
  padding: 5rem;
}

.container-grid__text__heading-tertiary {
  color: #fff;
}

.container-grid2 {
  margin-top: 5rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.container-grid2__heading-tertiary {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.container-grid2__text {
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  padding-top: 1.5rem;
}

.sell-everywhere__headline {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sell-everywhere__heading {
  color: #212326;
  font-weight: 400;
  line-height: 1.5;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.sell-everywhere__subheading {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1.2;
  font-weight: 300;
}

.sell-everywhere__container-grid {
  margin-top: 10rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.sell-everywhere__text-box {
  margin: 10rem;
}

.sell-everywhere__heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212326;
}

.sell-everywhere__paragraph {
  font-size: 1.8rem;
  margin-top: 2rem;
  font-weight: 300;
  color: var(--color-tertiary);
}

.sell-everywhere__link {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
}

.globe-container-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
}

.globe-heading-section {
  margin: 10rem 0 0 -60rem;
}

.globe-heading-section__header {
  font-weight: 300;
  line-height: 1.2;
  font-size: 3rem;
  color: #212326;
}

.globe-heading-section__paragraph {
  font-weight: 300;
  margin-top: 2.5rem;
  font-size: 2.5rem;
  color: #212326;
  line-height: 1.2;
}

.globe-heading-section__link {
  display: inline-block;
  margin-top: 2.5rem;
  color: var(--color-secondary);
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
}

.testimonials {
  margin: 10rem 15rem;
}

.testimonials__btn {
  display: inline-block;
  border: 1px solid #fff;
  width: 50%;
  margin-top: 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.testimonials__btn__icon {
  color: white;
  font-size: 1.6rem;
}

.testimonials__btn:hover, .testimonials__btn:hover {
  background-color: #fff;
  color: #212326;
  transition: all 0.2s;
}

.testimonials-logo {
  width: 25%;
  display: flex;
  margin-top: 2rem;
}

.testimonials__citation {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.testimonials-wrap {
  display: flex;
  background-color: #002e25;
}

.testimonials-wrap__brands {
  padding: 5rem 0;
  display: flex;
  justify-content: space-around;
}

.testimonials-wrap-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.testimonials-wrap-2__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials-wrap-2__paragraph {
  margin-top: 5rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.sign-up {
  padding: 0 0 10rem 0;
}

.sign-up__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up__container h2 {
  color: #212326;
  font-weight: 300;
  line-height: 1.5;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.sign-up__container p {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 300;
  padding-bottom: 2rem;
}

.sign-up__container a {
  text-decoration: none;
}

.footer {
  background-color: #002e25;
  max-width: 100%;
}

.footer-nav {
  padding: 2rem 0 2rem 10rem;
  border-bottom: 0.5px solid;
  box-shadow: 0 1rem 1rem 0.1 #c1f0d0;
}

.footer-nav-list {
  list-style: none;
  font-size: 1.6rem;
  display: flex;
}

.footer-nav-list-item {
  display: inline-block;
  margin-left: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: var(--color-tertiary);
}

.footer-nav-list-item:hover, .footer-nav-list-item:active {
  color: #fff;
  transition: all 0.2s;
}

.footer-bottom {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-bottom__social {
  font-size: 1.8rem;
  margin-left: 10rem;
}

.footer-bottom__icon {
  margin-left: 2rem;
  color: #fff;
}

.footer-bottom__links {
  display: flex;
}

.footer-bottom__links :last-child {
  color: #fff;
}

.footer-bottom__links-link {
  text-decoration: none;
  color: var(--color-tertiary);
  font-size: 1.4rem;
  margin-left: 1rem;
  font-weight: 300;
}

.footer-bottom__links-link:hover, .footer-bottom__links-link:active {
  color: #fff;
}

#next {
  transition: 0.2s ease-in;
}

#next:before {
  opacity: 0;
  transition: 0.2s ease-in;
}

#next:hover:before {
  opacity: 1;
}

#next span {
  display: inline-block;
  transition: 0.2s ease-in;
}

#next:hover span {
  transform: translateX(50%);
}

.hero-btn, .hero-btn:link, .hero-btn:visited {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  font-size: 1.8rem;
  border: 1px solid;
  border-radius: 0.7rem;
  background-color: var(--color-secondary);
  color: white;
  margin-left: 1.5rem;
}

.hero-btn:hover, .hero-btn:active {
  background-color: var(--color-green-dark);
  cursor: pointer;
  transition: all 0.2s;
}

.main-nav {
  position: relative;
  width: 100%;
  display: flex;
  background-color: #fff;
}

.main-nav .wrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 62.5em) {
  .main-nav .wrapper {
    display: none;
    position: absolute;
    flex-direction: column;
    right: 0;
    width: 200px;
  }
}

.main-nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
  align-items: center;
}

.main-nav-list-item:hover, .main-nav-list-item:active {
  color: #212326;
  cursor: pointer;
}

.main-nav-list-item:link, .main-nav-list-item:visited {
  fill: currentColor;
}

.main-nav-link:link, .main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #42474c;
  font-size: 1.6rem;
  font-weight: 400;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #212326;
  cursor: pointer;
}

.main-nav-link__arrow {
  font-size: 1.5rem;
  color: #828a91;
}

.main-nav-link__arrow:hover, .main-nav-link__arrow:active {
  color: #212326;
  cursor: pointer;
}

.main-nav-link.nav-btn:link,
.main-nav-link.nav-btn:visited {
  background-color: var(--color-secondary);
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: 1px solid;
  border-radius: 0.7rem;
  background-color: var(--color-secondary);
  color: white;
}

.main-nav-link.nav-btn:hover,
.main-nav-link.nav-btn:active {
  background-color: var(--color-green-dark);
  cursor: pointer;
  transition: all 0.2s;
}

.logo {
  height: 7rem;
}

.nav-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list-item:hover, .list-item:active {
  color: #212326;
  cursor: pointer;
}

.list-item:link, .list-item:visited {
  fill: currentColor;
}

.icons {
  color: #c1f0d0;
  font-size: 2.5rem;
}

.scroll-to-top {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-secondary);
  margin-top: 10rem;
  margin-right: -100rem;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.scroll-to-top:hover {
  top: -10px;
}
/*# sourceMappingURL=main.css.map */